<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml  -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.harken.tradeatthefront"
        version   = "1.1.2">

<!-- different name for android store=
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.harken.tradeatthefrontapp"
        version   = "1.1.7">
 -->
 
	<gap:config-file platform="ios" parent="CFBundleShortVersionString">
    	<string>112</string>
    </gap:config-file>
    
    <preference name="phonegap-version" value="cli-6.5.0" />

    <name>Harken Trade-At-The-Front App</name>

    <description>
        Trade-At-The-Front consolidates resources previously available in multiple locations with new communication tools Harken launches here for the first time in a single easy-to-use package. 
    </description>

    <author href="http://harken.com" email="support@harken.com">
        Harken Team
    </author>

    <preference name="permissions"                value="none"/>

 

</widget>